@using JailTalk.Application.Dto.System;
@using Microsoft.AspNetCore.Components.Forms;
<div class="d-flex flex-grow-1 gap-3">
    <MudStack AlignItems="AlignItems.Center" Justify="Justify.Center">
        <MudFileUpload T="IReadOnlyList<IBrowserFile>" OnFilesChanged="OnInputFileChanged" AppendMultipleFiles Hidden="false"
                       Class="flex-shrink-1 " InputClass="absolute mud-width-full mud-height-full overflow-hidden z-20"
                       InputStyle="opacity:0" Accept="@allowedExtensionsAsCsv"
        @ondragenter="@SetDragClass" @ondragleave="@ClearDragClass" @ondragend="@ClearDragClass" MaximumFileCount="3">
            <ButtonTemplate>
                <MudPaper Height="300px" Width="200px" Outlined="true" Class="@DragClass">
                    @if (files.Count == 0)
                    {
                        <MudText Typo="Typo.subtitle1" Align="Align.Center"
                                 Class="align-self-center">Drag and drop files here or click</MudText>
                    }
                    @foreach (var file in files)
                    {
                        <MudChip Color="Color.Dark" Text="@file.Name" />
                    }
                </MudPaper>
            </ButtonTemplate>
        </MudFileUpload>
        <MudToolBar DisableGutters="true" Class="gap-4">
            <MudButton OnClick="Upload" Disabled="@(!files.Any())" Color="Color.Primary" Variant="Variant.Filled">Upload</MudButton>
            <MudButton OnClick="Clear" Disabled="@(!files.Any())" Color="Color.Error" Variant="Variant.Filled">Clear</MudButton>
        </MudToolBar>
    </MudStack>
    <MudDivider Vertical="true" DividerType="DividerType.Middle" FlexItem="true" />
    <MudPaper Class="d-flex justify-start flex-grow-1 gap-3 flex-wrap align-content-start" Elevation="0">
        @foreach (var imageDto in Attachments)
        {
            <MudBadge Overlap="true" Bordered="true" Color="Color.Error" Icon="@Icons.Material.Filled.Close"
                      BadgeClass="cursor-pointer" OnClick="@(()=> OnPhotoDeletedClicked(imageDto.Id))">
                <MudStack Class="app-image-tile" Spacing="1">
                    <MudItem>
                        <MudImage Src="@imageDto.Base64ImageSrc" ObjectPosition="ObjectPosition.Center"
                                  ObjectFit="ObjectFit.Cover" Alt="@imageDto.FileName" />
                    </MudItem>
                    <MudItem>
                        <MudText Typo="Typo.caption" Align="Align.Center" Style="word-wrap: anywhere">@imageDto.FileName</MudText>
                    </MudItem>
                </MudStack>
            </MudBadge>
        }
    </MudPaper>
</div>

<MudMessageBox @ref="_imageDeleteConfirmation" Title="Warning" CancelText="Cancel">
    <MessageContent>
        Are you sure you want to delete this image?
    </MessageContent>
    <YesButton>
        <MudButton Variant="Variant.Filled" Color="Color.Error" Size="Size.Small">Delete!</MudButton>
    </YesButton>
</MudMessageBox>
@code {

    private static string DefaultDragClass = "relative rounded-lg border-2 border-dashed pa-4 mt-4 mud-width-full mud-height-full z-10 d-flex flex-wrap justify-start align-content-start";
    private string DragClass = DefaultDragClass;
    private List<IBrowserFile> files = new List<IBrowserFile>();
    private MudMessageBox _imageDeleteConfirmation;
    private static readonly string[] allowedExtensions = new string[]
    {
        ".png", ".jpg", ".jpeg"
    };
    private static readonly string allowedExtensionsAsCsv = string.Join(", ", allowedExtensions);

    [Parameter]
    public List<ImageViewDto> Attachments { get; set; }

    [Parameter]
    public long MaxImageSize { get; set; } = 1_000_000;

    [Parameter]
    public EventCallback<List<ImageUploadDto>> OnUpload { get; set; }

    [Parameter]
    public EventCallback<int> OnPhotoDeleted { get; set; }

    [Parameter]
    public int? MaximumImageCount { get; set; }

    protected override void OnAfterRender(bool firstRender)
    {
        if (!firstRender) return;
    }

    private void OnInputFileChanged(InputFileChangeEventArgs e)
    {
        ClearDragClass();
        files.AddRange(e.GetMultipleFiles());
    }

    private async Task Clear()
    {
        files.Clear();
        ClearDragClass();
        await Task.Delay(100);
    }

    private void Upload()
    {
        var projectedImageCount = files.Count + Attachments.Count;
        if (files.Any(x => x.Size > MaxImageSize))
        {
            ToastService.Error($"Choose file size less than '{MaxImageSize}' bytes.");
            return;
        }

        if (MaximumImageCount.HasValue && projectedImageCount > MaximumImageCount.Value)
        {
            ToastService.Error($"Cannot upload more than '{MaximumImageCount}' images.");
            return;
        }

        if (files.Any(x => !allowedExtensions.Contains(Path.GetExtension(x.Name))))
        {
            ToastService.Error($"Only image files are supported. Please upload files with extension .jpg, .jpeg or .png");
            return;
        }

        List<ImageUploadDto> images = files
            .Select(x => new ImageUploadDto()
                {
                    DataStream = x.OpenReadStream(MaxImageSize),
                    FileName = x.Name,
                    ContentType = x.ContentType
                }).ToList();

        OnUpload.InvokeAsync(images);
    }

    private void SetDragClass()
    {
        DragClass = $"{DefaultDragClass} mud-border-primary";
    }

    private void ClearDragClass()
    {
        DragClass = DefaultDragClass;
    }

    private async Task OnPhotoDeletedClicked(int imageId)
    {
        bool? result = await _imageDeleteConfirmation.Show();

        if (result.HasValue && result.Value)
        {
            await OnPhotoDeleted.InvokeAsync(imageId);
        }
    }
}
